<mat-toolbar color="primary">
  <mat-icon>auto_graph</mat-icon>
  <span>Trade Store</span>
  <button (click)="newTrade()" mat-button style="margin:0;">
    <mat-icon>add</mat-icon>
    Add Trade
  </button>
  <button mat-button align="end">
    <mat-icon [matBadge]="rejectedTradesCount | async" matBadgeColor="warn" matBadgeSize="small"
              matBadgePosition="above before">notifications_none
    </mat-icon>
    Rejected Trades
  </button>
</mat-toolbar>
<app-trade-grid></app-trade-grid>

<router-outlet></router-outlet>

